* {
  padding: 0;
  margin: 0;
}
#game {
  width: 500px;
  height: 650px;
  border: 2px solid black;
  margin: auto;
  overflow: hidden;
}
#character {
  width: 30px;
  height: 30px;
  /*background-color: rgba(207, 33, 193, 0.87);*/
  /*border-radius: 50%;*/
  position: relative;
  top: 440px;
  left: 190px;
  z-index: 1000000;
}
.block {
  width: 500px;
  height: 20px;
  background-color: rgb(212, 185, 28);
  position: relative;
  top: 100px;
  margin-top: -20px;
}
.hole {
  width: 50px;
  height: 20px;
  background-color: white;
  position: relative;
  top: 100px;
  margin-top: -20px;
}
